# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# Python / backend
backend/venv/
backend/__pycache__/
backend/.env
backend/.DS_Store

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Mac system file
*.DS_Store
