# Node / frontend
client/node_modules/
client/dist/
client/.env
client/.DS_Store

# Python / backend
server/venv/
server/__pycache__/
server/.env
server/.DS_Store

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Mac system file
*.DS_Store
